{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": true,
        "sourceType": "unambiguous",
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": false,
      "helpers": true,
      "sourceType": "unambiguous",
      "regenerator": true,
      "useESModules": false
    }]
  ],
  "ignore": [
    "node_modules"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-react", {
          "development": true,
        }]
      ]
    }
  }
}